body {
  padding: 50px;
  font-size: 14px;
  font-family: "Lucida Grande";
}
h1 {
  font-size: 38px;
  font-weight: 900;
  color: orangered;
}
h5 {
    font-size: 19px;
  font-weight: 700;
  color: orangered;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
    gap: 15px;
}
.form__add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.error-message {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: red;
  /* list-style: none; */
}
.error-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}
.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
  margin-bottom: 15px;
  & label {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: #333;
  }
  & input {
    width: 100%;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    &:focus {
      outline: none;
      border-color: #703333;
    }
  }
   & input:nth-last-child() {
    margin-bottom: 25px;
   }
}
.form__btn {
  padding: 5px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  &:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(255, 68, 0, 0.411);
    text-decoration: underline;
  }
}
