body {
  padding: 50px;
  font-size: 14px;
  font-family: "Lucida Grande";
}
h1 {
  font-size: 38px;
  font-weight: 900;
  line-height: 1.1;
  color: orangered;
}

.page__list table {
  width: 100%;
  margin: 20px 0;
}

.page__list th {
  background-color: orangered;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  font-weight: 900;
}

.page__list td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.page__list td:nth-child(1) {
  text-align: left;
}

.page__list tr:hover {
  background-color: #f5f5f5;
}

.form__search {
  display: inline-flex;
  gap: 15px;
}
.form__search-group {
  display: inline-flex;
  gap: 25px;
    & input {
    width: 100%;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    &:focus {
      outline: none;
      border-color: #703333;
    }
  }
}
.form__search-btn,
.form__btn  {
    padding: 5px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  &:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(255, 68, 0);
    text-decoration: underline;
  }
}