<header class="header">
  <a href="/" class="header__logo">wps</a>
  <div class="header__menu">
    <ul>
      <li>
        <a href="/owners">List of Owners</a>
      </li>
      <li>
        <a href="/owners/add">Add Owner</a>
      </li>
    </ul>
  </div>
</header>
